# MANUELA CASTILLA RUSSO CORREA
Para o meu projeto, foi escolhido os fatores:

(1)Mulheres empregadas entre a idade de 15-24. 

(2)A relação de meninas para homens na educação (fundamental 1 e 2) para relacionar com o Índice de Desenvolvimento Human


Com isso, foi feito a seguinte questão: 

#### A quantidade de mulheres que tiveram educação influência no número destas que têm emprego, influenciando assim o IDH do país?

Para isso, mostrarei os passos para cada código feito e suas análises

#### JUNTANDO AS TABELAS E O ANO A SER ESTUDADO: 2007

In [1]:
#Primeiramente importamos para poder realizar o código
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#baixando todos os excels
idh = pd.read_excel('hdi_human_development_index.xlsx')
gender_edu = pd.read_excel("ratio_of_girls_to_boys_in_primary_and_secondary_education_perc.xlsx")
employment = pd.read_excel("females_aged_15_24_employment_rate_percent.xlsx")

In [3]:
#pegando as partes que você quer
idh_07 = idh.loc[:,["geo",2007]]
gender_edu_07 = gender_edu.loc[:,["geo",2007]]
employment_07 = employment.loc[:,["geo",2007]]

In [4]:
#ajustando o index
idh_idx = idh_07.set_index("geo")
gender_edu_idx = gender_edu_07.set_index("geo")
employment_idx = employment_07.set_index("geo")

In [8]:
#join 1.0
idh_gender = idh_idx.join(gender_edu_idx, how="inner", lsuffix="_idh", rsuffix="_gender")

In [9]:
#join 2.0
data = idh_gender.join(employment_idx, how="inner", lsuffix="_idh", rsuffix="_WomanEmployment")

In [10]:
data.head(2)

             2007_idh  2007_gender  2007
geo
Afghanistan     0.433        0.570  28.5
Albania         0.713        0.982  31.0